@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,900;1,100&display=swap");

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}
.button {
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row {
  margin: 7px 0;
}

.row input {
  font-size: 23px;
  margin: ;
  padding: 8px 1px;
  border: 2px solid black;
  border-radius: 8px;
}
